{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <link rel="stylesheet" href="{% static 'ext/jquery-ui-themes-1.12.1/themes/smoothness/jquery-ui.min.css' %}">-->
<!--    <link href="{% static 'css/base.css' %}?v=" rel="stylesheet">-->
<!--    <script language="JavaScript" src="{% static 'ext/jquery-1.12.4.min.js' %}"></script>-->
<!--    <script language="JavaScript" src="{% static 'ext/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>-->
<!--    <link href="{% static 'ext/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">-->
<!--    <script language="JavaScript" src="{% static 'ext/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>-->

<!--    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />-->


    <link href="{% static 'ext/bootstrap-4.6.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

<!--    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />-->


    {% if page_title %}
        <title>{{ page_title }}</title>
    {% endif %}



</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">PRIMAVERA Data Management Tool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">
                Views
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                <a class="dropdown-item" href="{% url 'data_sets' %}">Data Sets</a>
                <a class="dropdown-item" href="{% url 'data_files' %}">Data Files</a>
              </div>
            </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout {{ request.user }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

        {% if page_title %}
            <h1>{{ page_title}}</h1>
        {% endif %}


        {% block contents %}

        {% endblock %}
        <div align="right">
            &copy; Crown Copyright
        </div>
    </div>

    <script type="text/javascript" src="{% static 'ext/jquery-3.6.0.slim.min.js' %}" async></script>
    <script type="text/javascript" src="{% static 'ext/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js' %}" async></script>
</body>
</html>
