argon2-cffi
cftime
Django
django-filter
django-tables2
djangorestframework
numpy
netCDF4
psycopg2
requests
# Uncomment the next pysqlite3-binary line if the system sqlite is not recent enough for Django
# pysqlite3-binary
# Uncomment the following sphinx lines if you would like to be able to build the documentation
# sphinx
# sphinx-rtd-theme
# Uncomment the following pylint lines if you would like to run pylint
# pylint
# pylint-django
